<h1>Tasks Manager</h1>

<p>Here are your tasks...</p>

<% @tasks.each do |task| %>
  <h2><%= task.name %></h2>
  <p><%= task.completed %></p>
  		<!-- <p><%link_to %></p> -->
<% end %>



<!-- / Should display a list of all tasks and, for each task:

    a link to its show view (use a link_to helper)


    a link to its edit view
    a link to its delete action. Hint: a standard link does not allow to perform DELETE request, so here you should add a method: :delete option to your link_to helper. -->

<!-- Should include a link to the new view to create a new task -->